/.pytest_cache
/.idea
/__pycache__
/src/flux-footprints/__pycache__
/.vscode
/src/fluxfootprints/__pycache__
/docs/_build
/docs/notebooks/output
/docs/notebooks/example.log
/secrets
/data/logs
/data/station_data
/data/station_config/output
/data/station_config/gridMET_data